/**
 * Main styling for batmanandrobin.run.
 * 
 * @author Hampus Nordin <nordin.hampus@gmail.com>
 * @preserve
 */

$font-stack-base: 'Walter Turncoat', sans-serif;
$font-stack-heading: 'Bangers', sans-serif;


$color-batman-yellow: #FFFF19;
$color-batman-red: #FF3D25;
$color-batman-black: #1F1A17;
$color-batman-paper-white: #EDE1C9;
$color-batman-blue: #56A8BE;
$color-batman-green: #82d84b;


@import "modules/base";
@import "modules/typography";
@import "modules/site";
@import "modules/panel";
@import "modules/photo";
@import "modules/skyline";
