/**
 * modules/_site.scss
 * 
 * @author Hampus Nordin <nordin.hampus@gmail.com>
 * @preserve
 */

$logo-pullup: 18em;
$logo-pullup-mobile: 6em;

.site {
  margin: 2em auto 10em;
  max-width: 50em;
  position: relative;
  z-index: 1;
}

.site-header {
  margin-top: $logo-pullup;

  &__logo {
    margin-top: ($logo-pullup * -1);
    margin-left: -4em;
    margin-right: -4em;
  }
}

.site-content {}
.site-footer {}


@media screen and (max-device-width: 600px) {
  .site-header {
    margin-top: $logo-pullup-mobile;

    &__logo {
      margin-top: ($logo-pullup-mobile * -1);
      margin-left: -2em;
      margin-right: -2em;
    }
  }

}
